extends layout

block content
	h1 Thanks for your submission!
	h2 Check out the competition below!

	for item in contestEntries

		h1= item.creator
		iframe(width="560" height="315" src= item.url frameborder="0")
		h1= item.title
		h1= item.description



	



			
			
			
